MONGODB_URI=mongodb+srv://tanthuy068_db_user:<db_password>@cluster1.zewo87r.mongodb.net/lumina_crm?retryWrites=true&w=majority&appName=Cluster1
JWT_SECRET=your_secret_key_here
PORT=3001
FRONTEND_URL=http://localhost:3000
